body{
  display:flex;
  background-image:url(bluu-Lake-calendar-wall)
  justify-content:center;
  background-size:cover;
  /*height:100vh;*/
  background-attachment:fixed;
  align-items:center;
  
}
#show{
color:azure;
front-family:'Segoe UI',Tahoma,Geneva,Verdana
  text-align:center;
  margin-top:15&;
  background-color:aqua;
  width:42&;
  padding:30px 20px 30px 20px;
  height:auto;
  background:liner-gradient(135deg,rgba(0)
  background-filter:blur(10px);
  -webkit-background-filter:blur(10px);
  border-raduis:20px;
  border:1px solid rgba(255,255,255,0.158)
  box-shadow:0 8px 32px 0 rgba (0,0,0,.37)
  }
  p{
  color:rgba(147,143,143);
  }